<div class="chart-wrapper container">
  <div class="row">
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
  <div class="row col-6">
    <h1>Doanh thu của năm {{this.yeared}}</h1>
  </div>
  <div class="col-6">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="yeared" (ngModelChange)="changingValue()" >
      <option selected *ngFor="let item of yeared" [value]="item.viewValue"> {{ item.viewValue }}</option>
    </select>
  </div>
</div>
