<!-- Login Start -->
<div class="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="register-form">
          <div class="row" style=" width: 1000px; margin-bottom: 500px">
              <div class="col-md-12">
                <h1>Thêm sản phẩm</h1>
              </div>
            <div class="col-md-6">
              <label>Tên sản phẩm</label>
              <input
                class="form-control"
                type="text"
                placeholder="Name Product"
                [(ngModel)]="addProductForm.name"
                required
                name="username"
                #username="ngModel"
              />
              <div
                *ngIf="username.invalid && (username.dirty || username.touched)"
              >
                <div *ngIf="username.errors?.required">
                  <span style="color: red">Name Product invalid</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>mã code</label>
              <input
                class="form-control"
                type="text"
                placeholder="Mã code"
                [(ngModel)]="addProductForm.code"
                required
                name="name"
                #name="ngModel"
              />
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors?.required">
                  <span style="color: red">Code invalid</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Hãng sản xuất</label>
              <select
                class="form-control"
                name="brand"
                [(ngModel)]="addProductForm.brandId"
              >
                <option *ngFor="let brand of brands" [value]="brand.id">
                  {{ brand.name }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Loại sản phẩm</label>
              <select
                class="form-control"
                name="brand"
                [(ngModel)]="addProductForm.productTypeId"
              >
                <option *ngFor="let ctg of categorys" [value]="ctg.id">
                  {{ ctg.name }}
                </option>
              </select>
            </div>
            <!-- <div class="col-md-6">
              <label>Màu</label>
              <select
                class="form-control"
                name="brand"
                [(ngModel)]="addProductForm.colorId"
              >
                <option *ngFor="let c of colors" [value]="c.id">
                  {{ c.name }}
                </option>
              </select>
            </div> -->
            <div class="col-md-6">
              <label>Trạng thái</label>
              <input
                class="form-control"
                type="text"
                placeholder="status products"
                [(ngModel)]="addProductForm.status"
              />
            </div>
            <div class="col-md-6">
              <label> Giá bán sản phẩm</label>
              <input
                class="form-control"
                type="number"
                placeholder="Giá bán sản phẩm"
                [(ngModel)]="addProductForm.priceSell"
                required
                name="price"
                #price="ngModel"
              />
              <div *ngIf="price.invalid && (price.dirty || price.touched)">
                <div *ngIf="price.errors?.required">
                  <span style="color: red">price invalid</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Giá cũ</label>
              <input
                class="form-control"
                type="text"
                placeholder="Giá cũ"
                [(ngModel)]="addProductForm.sale"
              />
            </div>
            <div class="col-md-6">
              <label>Mô tả sản phẩm</label>
              <input
                class="form-control"
                type="text"
                placeholder="mô tả sản phẩm"
                [(ngModel)]="addProductForm.mieuTa"
              />
            </div>
            <div class="div-md-6">
              Ảnh sản phẩm
            </div>
            <div class="div-md-6" style="margin-top:20px ">
                <input type="file" (change)="onSelectedFile($event) "[(ngModel)]="addProductForm.image" >
            </div>

            <div class="row" style="margin-top:30px ;">
              <div class="col-md-2">
                <button class="btn" (click)="saveandGotoList()">Add product </button>
              </div>
              <div class="col-md-2">
                <button class="btn" (click)="back()">Cancel</button>
              </div>
            </div>
            <div class="row" style="margin-top:30px ;">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
